In [1]:
import pandas as pd 
import numpy as np
import category_encoders as ce

# Q1: Apply Ordinal encoding.

In [2]:
import category_encoders as ce

In [14]:
df=pd.DataFrame({'height':['tall','medium','short','tall','medium','short','tall','medium','short',]})
df

   height
0    tall
1  medium
2   short
3    tall
4  medium
5   short
6    tall
7  medium
8   short

In [15]:
encoder= ce.OrdinalEncoder(cols=['height'],return_df=True,
                           mapping=[{'col':'height',
'mapping':{'None':0,'tall':1,'medium':2,'short':3}}])


df['transformed'] = encoder.fit_transform(df)

print(df)

   height  transformed
0    tall            1
1  medium            2
2   short            3
3    tall            1
4  medium            2
5   short            3
6    tall            1
7  medium            2
8   short            3

# Q2: Apply One hot encoding.

In [16]:
print(pd.get_dummies(df))

   transformed  height_medium  height_short  height_tall
0            1              0             0            1
1            2              1             0            0
2            3              0             1            0
3            1              0             0            1
4            2              1             0            0
5            3              0             1            0
6            1              0             0            1
7            2              1             0            0
8            3              0             1            0

# Q3: Apply Frequency Encoding.

In [17]:
fe=df.groupby('height').size()
fe

height
medium    3
short     3
tall      3
dtype: int64

# Q4: Apply Binary Encoding.

In [18]:
encoder=ce.BinaryEncoder(cols=['height'])
dfbin=encoder.fit_transform(df['height'])
d=pd.concat([df,dfbin],axis=1)
d

   height  transformed  height_0  height_1
0    tall            1         0         1
1  medium            2         1         0
2   short            3         1         1
3    tall            1         0         1
4  medium            2         1         0
5   short            3         1         1
6    tall            1         0         1
7  medium            2         1         0
8   short            3         1         1